html, body {
  padding: 0px;
  font-size: 1.2em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  max-width: 40%;
  padding: 20px;
  text-align: center;
}
